@{
	Script.Require("jQuery").AtHead();
    Script.Require("jqueryui");
	Style.Include("site.css");
    Style.Include("grid.css");
    Style.Include("http://fonts.googleapis.com/css?family=Lato:400,700,400italic");
}
<script type="text/javascript" src="Themes/BlankNoggin/Scripts/hoverIntent.js"></script>
<script type="text/javascript" src="Themes/BlankNoggin/Scripts/app.js"></script>
<div id="TopHeader" style="height:10px; background-image:url(themes/blanknoggin/styles/headerbar.jpg);">
    
</div>
<div id="mainWrapper">
    <div id="mainContent" class="span-24">
        <div id="recentPosts" class="span-24 last">
            @Display(Model.Content)
            @Display(Model.RecentPosts)
            
        </div>
    </div>
</div>
<div id="bottom">&nbsp;</div>
