@{
	Script.Require("ShapesBase");
	Style.Include("site.css");
    Style.Include("grid.css");
	Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
}
<div id="mainWrapper">
    <div id="mainContent" class="span-24">
        <div id="recentPosts" class="span-24 last">
            @Display(Model.Content)
            @Display(Model.RecentPosts)
            
        </div>
    </div>
</div>
<div id="bottom">&nbsp;</div>