<div class="credits">
    <span class="poweredby">@T("Powered by <a href=\"{0}\" target=\"_blank\">Orchard</a>", "http://www.orchardproject.net")</span><br/>
    <span class="copyright">@T("Fizz Theme &#169; 2011 <a href=\"{0}\" target=\"_blank\">NimblePros</a>")</span>
</div>