
Body {
  margin: 0 auto;
  background: url(bg43.jpg) no-repeat;
  background-size: 100%;
}
.header {
    height: 20px;
    width: 100%;
}
#mainWrapper {
    margin:  0 auto;
    width: 960px;
        
}
#leftAside {
    
}

    #leftAside #categories-link {
        background: url(/Media/Default/Categories-link.png) no-repeat;
        height: 150px;
        width: 240px;
        position: relative;
    }
        #leftAside #categories-link #categories-anchor-tag {
            position: absolute;
            width: 240px;
            height: 150px;
            top: 0;
            left: 0;
        }
    #leftAside #favorites-link {
         background: url(/Media/Default/Favorites-link.png) no-repeat;
        height: 150px;
        width: 240px;
        position: relative;
    }
        #leftAside #favorites-link #favorites-anchor-tag {
                position: absolute;
                width: 240px;
                height: 150px;
                top: 0;
                left: 0;
            }
   
#mainContent {
    height: 750px;
}
    #mainContent .hoverMessage{
        background-color: #f4f4f4;
        
    }
    #mainContent .hoverMessage h1{
       font-family: 'Lato', sans-serif;
       font-size: 30px;
    }
     #mainContent .hoverMessage p{
       font-family: 'Lato', sans-serif;
       font-size: 18px;
       color:#808080;
    }
     #mainContent .hoverMessage h4{
       font-family: 'Lato', sans-serif;
       font-size: 16px;
       color:#808080;
    }
    #mainContent div{
        background-repeat: no-repeat;
        position: relative;
    }

    #beforeContent {
        height: 40px;
        border-color: #808080;
    }
    #firstPost {
        height: 300px;
        width: 710px;  
    }
        #firstPost #firstPostContent{
            position:relative;
        } 
        #firstPost #firstPostContent .hoverMessage{
            height:290px;
        }
        #firstPost #firstPostContent #leftColor{
            width:25px;
            height:290px;
            background-color:#00afdb;
        }
        #firstPost #firstPostContent #innerQuadImage {

          height:290px;
   
        }
            #firstPost #firstPostContent #innerQuadImage img{
                float:right;
                padding-right:15px;
                padding-top:25px;
            }
        #firstPost #firstPostContent a{
            color:#565656;
            text-decoration:none;
        }
        
    #secondPost {
        height: 400px;
        margin-top:10px;   
    }
        #secondPost #secondPostContent{
            position:relative;
            height:390px;
        }
        #secondPost #secondPostContent .hoverMessage{
            position:relative;
            height:390px;
        }
        #secondPost #secondPostContent #secondaryLeftColor{
            width:20px; height:390px;
            background-color: #00afdb;
        }
        #secondPost #secondPostContent a{
            text-decoration: none;
            color:#565656;
        }
    #quadRight{
        padding-top:10px;
        }
        #quadRight #quad1 {
            height: 200px;
   
        }
        #quadRight #quad1 a{
            position:absolute;
            top: 0;
            left: 0;
            width:240px;
            height: 200px;
        }
        #quadRight #quad2 {
            height: 200px;
            border-color: #808080;
        }
        #quadRight #quad3 {
            height: 200px;
            border-color: #808080;
        }
        #quadRight #quad4 {
            height: 200px;
            border-color: #808080;
        }
    
    